<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{listService.recipeInformations.name}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">  
  <ion-card>
    
    <img *ngIf="listService.recipeInformations.imagePath" alt="{{listService.recipeInformations.name}}" src="{{listService.recipeInformations.imagePath}}" />
    <img *ngIf="!listService.recipeInformations.imagePath" alt="{{listService.recipeInformations.name}}" src="assets/imgattente.png" />
    <ion-card-header>
      <ion-card-subtitle ><span class="ion-text-capitalize">{{listService.recipeInformations.type}}</span> - {{listService.recipeInformations.time }}</ion-card-subtitle>
      <ion-card-title>
        <span>{{listService.recipeInformations.name}}</span>
        <span id="editButton" routerLink="/tabs/tab2/{{listService.recipeInformations.id}}">Modifier<ion-icon slot="end" name="create-sharp"></ion-icon></span>
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      
      <ion-accordion-group [multiple]="true" [value]="['first', 'second']">
        
        <ion-accordion value="first" class="ion-margin-bottom">
          <ion-item slot="header" color="light">
            <ion-label class="ingHeader">
              <span>Ingrédients</span>
              <span class="ingAmount">{{listService.recipeInformations.ingredients.length}}</span>
            </ion-label>
          </ion-item>
          <div slot="content">
            <ul *ngFor="let ingredient of listService.recipeInformations.ingredients, let rankIngredient = index">
              <li class="ingIndividual">
                <span class="ingQuantity">
                  <span *ngIf="listService.recipeInformations.ingredients[0]">{{ listService.recipeInformations.ingredients[rankIngredient].quantity }} </span>
                  <span *ngIf="listService.recipeInformations.ingredients[0]">{{ listService.recipeInformations.ingredients[rankIngredient].unit }}</span>
                  de 
                  <span *ngIf="listService.recipeInformations.ingredients[0]">{{ listService.recipeInformations.ingredients[rankIngredient].name }}</span>
                </span>
                <ion-icon name="basket-outline" id="click-trigger-ingredient-{{rankIngredient}}"  class="ingCart" (click)="exportIngtoCart(rankIngredient)"></ion-icon>
                <ion-popover trigger="click-trigger-ingredient-{{rankIngredient}}" triggerAction="click">
                  <ng-template>
                    <ion-content class="ion-padding">Ingrédient rajouté dans le panier.</ion-content>
                  </ng-template>
                </ion-popover>
              </li>
            </ul>
          </div>
        </ion-accordion>
        
        <ion-accordion value="second" class="ion-margin-bottom">
          <ion-item slot="header" color="light">
            <ion-label class="stepHeader">
              <span>Étapes de la recette</span>
              <span class="stepAmount">{{listService.recipeInformations.steps.length}}</span>
            </ion-label>
          </ion-item>
          <div slot="content">
            <ion-list *ngFor="let recipeStep of listService.recipeInformations.steps, let rankStep = index">
              <ion-item>Étape {{rankStep+1}}</ion-item>
              {{listService.recipeInformations.steps[rankStep]}}
            </ion-list>
          </div>
        </ion-accordion>
        
      </ion-accordion-group>
      
    </ion-card-content>
    
  </ion-card>
</ion-content>